$black-color: #212121;
$white-color: #FFFFFF;
$red-color-100:#F37272;
$red-color-200:#D01D1D;
$red-color-300:#D01F1F;
$gray-color-100:#F7F7F7;
$gray-color-200:#A5A5A5;

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  color: $black-color;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  width: 100%;
}
